.et_section_regular {
    --tw-bg-opacity: 1;
    background-color: rgba(233, 239, 241, var(--tw-bg-opacity))!important;
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

.pointer-events-none {
    pointer-events: none
}


.top-5 {
    top: 1.25rem
}

.z-10 {
    z-index: 10
}
.mb-10 {
    margin-bottom: 2.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}
.mb-4{
    margin-bottom: 1rem
}
.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-3 {
    margin-left: .75rem
}

.mr-2 {
    margin-right: .5rem
}

.mr-4 {
    margin-right: 1rem
}

.mt-1 {
    margin-top: .25rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-40 {
    margin-top: 10rem
}

.mt-6 {
    margin-top: 1.5rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.hidden {
    display: none
}

.h-40 {
    height: 10rem
}

.h-6 {
    height: 1.5rem
}

.h-fit {
    height: -moz-fit-content;
    height: fit-content
}

.w-20 {
    width: 5rem
}

.w-24 {
    width: 6rem
}

.w-32 {
    width: 8rem
}

.w-40 {
    width: 10rem
}

.w-6 {
    width: 1.5rem
}

.w-\[300px\] {
    width: 300px
}

.w-\[95\%\] {
    width: 95%
}

.w-\[calc\(50\%-0\.5rem\)\] {
    width: calc(50% - .5rem)
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}
.w-medium {
    padding: 0% 5%;
}

.min-w-fit {
    min-width: -moz-fit-content;
    min-width: fit-content
}

.cursor-pointer {
    cursor: pointer
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: .25rem
}

.gap-2 {
    gap: .5rem
}

.gap-4 {
    gap: 1rem
}

.gap-6 {
    gap: 2rem
}
.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-xl {
    border-radius: .75rem
}

.border {
    border-width: 1px
}

.bg-cobalt {
    --tw-bg-opacity: 1;
    background-color: rgba(21, 67, 90,  var(--tw-bg-opacity))
}
.bg-\[\#15435a66\] {
    background-color: #15435a66;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}
.bg-yellow-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 252, 232, var(--tw-bg-opacity));
}
.text-yellow-800 {
    --tw-text-opacity: 1;
    color: rgba(133, 77, 14, var(--tw-text-opacity));
}
.text-yellow-700 {
    --tw-text-opacity: 1;
    color: rgba(161, 98, 7, var(--tw-text-opacity));
}
.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.py-1\.5 {
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-4 {
    padding: 1rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.pl-2 {
    padding-left: .5rem
}

.pr-1 {
    padding-right: .25rem
}

.pr-4 {
    padding-right: 1rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-manrope {
    font-family: Manrope,sans-serif
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 300
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.leading-6 {
    line-height: 1.5rem
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.text-cobalt {
    --tw-text-opacity: 1;
    color: rgba(21, 67, 90, var(--tw-text-opacity));
}


.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btn-see-profile{      
    border: 1px solid rgba(21, 67, 90, var(--tw-text-opacity));
    width: 25%;
    justify-content: center;
    padding-right: 1rem;
}
@media (min-width: 640px) {
    .btn-see-profile {
        width: 100%;
    }
    .sm\:col-start-1 {
        grid-column-start:1
    }

    .sm\:col-start-2 {
        grid-column-start: 2
    }

    .sm\:mb-0 {
        margin-bottom: 0
    }

    .sm\:mr-4 {
        margin-right: 1rem
    }

    .sm\:mt-0 {
        margin-top: 0
    }

    .sm\:mt-24 {
        margin-top: 6rem
    }

    .sm\:flex {
        display: flex;      
    }

    .sm\:grid {
        display: grid
    }

    .sm\:hidden {
        display: none
    }

    .sm\:h-32 {
        height: 8rem
    }

    .sm\:h-40 {
        height: 10rem
    }

    .sm\:h-\[100px\] {
        height: 100px
    }

    .sm\:w-32 {
        width: 8rem
    }

    .sm\:w-40 {
        width: 10rem
    }

    .sm\:w-96 {
        width: 24rem
    }

    .sm\:w-\[20\%\] {
        width: 20%
    }

    .sm\:w-\[75\%\] {
        width: 75%
    }

    .sm\:w-\[90\%\] {
        width: 90%
    }

    .sm\:grid-flow-row-dense {
        grid-auto-flow: row dense
    }

    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:items-start {
        align-items: flex-start
    }

    .sm\:items-center {
        align-items: center
    }

    .sm\:justify-start {
        justify-content: flex-start
    }

    .sm\:justify-between {
        justify-content: space-between
    }

    .sm\:gap-3 {
        gap: .75rem
    }

    .sm\:p-0 {
        padding: 0
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .sm\:py-2 {
        padding-top: .5rem;
        padding-bottom: .5rem
    }

    .sm\:pl-4 {
        padding-left: 1rem
    }

    .sm\:pr-2 {
        padding-right: .5rem
    }

    .sm\:pr-6 {
        padding-right: 1.5rem
    }

    .sm\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }

    .sm\:leading-6 {
        line-height: 1.5rem
    }
}

@media (min-width: 1024px) {
    .btn-see-profile {
        width: 25%;
    }
    .lg\:mt-32 {
        margin-top:8rem
    }

    .lg\:w-\[75\%\] {
        width: 75%
    }

    .lg\:w-\[80\%\] {
        width: 80%
    }

    .lg\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .lg\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }
}

#show-less-btn {
    display: none;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.underline {
    text-decoration-line: underline;
}
.bg-skyBlueGray {
    --tw-bg-opacity: 1;
    background-color: rgba(196, 208, 214, var(--tw-bg-opacity));
}
.bg-background {
    --tw-bg-opacity: 1;
    background-color: rgba(233, 239, 241, var(--tw-bg-opacity));
}
@media (max-width: 768px) {
    .btn-see-profile {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .md\:w-120 {
        width: 30rem;
    }
}
.css-1xc3v61-indicatorContainer {
    display: flex;
    transition: color 150ms;
    color: rgb(204, 204, 204);
    padding: 8px;
    box-sizing: border-box;
    border: none;
}

.css-8mmkcg {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 15px 37px 5px rgba(0, 0, 0, .2);
    box-shadow: 0px 15px 37px 5px rgba(0, 0, 0, .2);
    z-index: 1;
    width: 100%;
    top: 1.9px;
    padding: 0;
    border-radius: 0%;
    overflow-y: scroll;
    height: 20rem;
    left: -3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b7e2eb;
}

.select-choose {
    order: 2;
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    min-height: 30px;
}

.selected-item {
    display: flex;
    min-width: 0px;
    background-color: rgb(21, 67, 90);
    border-radius: 6px;
    margin: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    order: 1;
}

.selected-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 85%;
    padding: 3px 3px 3px 6px;
    box-sizing: border-box;
}

.css-1wegy39 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    border: none
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-button {
    background-color: #fff;
    border: none;
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23888" width="16" height="16" viewBox="0 0 20 20"><polygon points="10,5 15,10 5,10"/></svg>');
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23888" width="16" height="16" viewBox="0 0 20 20"><polygon points="10,15 15,10 5,10"/></svg>');
}

::-webkit-scrollbar-button:hover {
    background-color: #e0e0e0;
    border-color: #555;
}

.css-1wegy39 svg {
    color: #ffffff;
}
.pagination {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 1%;
}

.pagination a,
.pagination span {
    padding: 10px 15px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #000;
    text-decoration: none;
    border: 1px solid #ddd;
}
.pagination #next-page{
    border-radius: 0 10% 10% 0;
}

.pagination #previous-page{
    border-radius: 10% 0 0 10% ;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination span {
    font-weight: bold;
    background-color: #FFFFFF;
}

.pagination span.dots {
    cursor: default;
}
.page-link.active {
    background-color: #ddd;
    color: #000;
}
.select {
    position: relative;
    display: flex;
    width: fit-content;    
    width:100%;
}


.select-directory{
    grid-area: 1 / 2;
    font: inherit;
    min-width: 2px;
    margin: 0px;
    outline: 0px;
    padding-left: 8px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: 100ms;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #6c6c6c;
    box-sizing: border-box;
    width: 100%; /* Ensure full width within wrapper */
}
.select::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false'%3E%3Cpath d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z' fill='%23cccccc'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    right: 10px; 
    top: 20px;
    transform: translateY(-50%);
    transition: color 150ms;
    color: rgb(204, 204, 204);
    pointer-events: none; 
    border-left: 1px solid #ccc;
    padding-left: 7px;
    padding-top: 7px;
}

.select:hover::after {
    color: rgb(150, 150, 150); /* Change color on hover */
}


#Dropdown::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 20 20' aria-hidden='true' focusable='false'%3E%3Cpath d='M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z' fill='%23cccccc'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    right: 10px; 
    top: 20px;
    transform: translateY(-50%);
    transition: color 150ms;
    color: rgb(204, 204, 204);
    pointer-events: none; 
    border-left: 1px solid #ccc;
    padding-left: 7px;
    padding-top: 7px;
}